<app-nav></app-nav>
<div class="container">
    <label for="basic-url" class="form-label">Add Book</label>
    <div class="input-group mb-3 mt-2">
        <span class="input-group-text" id="basic-addon1">ISBN</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" [(ngModel)]="book.isbn"
            [ngModelOptions]="{standalone:true}" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Title</span>
        <input type="text" class="form-control" placeholder="Book Title" aria-label="Recipient's username" [(ngModel)]="book.title" 
        [ngModelOptions]="{standalone:true}" 
            aria-describedby="basic-addon2">
    </div>

    <div class="mb-3">
        <div class="input-group mb-3 mt-2">
            <span class="input-group-text" id="basic-addon1">Author</span>
            <input type="text" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="book.author" 
            [ngModelOptions]="{standalone:true}" 
                aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">QTY`</span>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="book.qty" 
        [ngModelOptions]="{standalone:true}" >
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Category</span>
        <input type="text" class="form-control" placeholder="Category" aria-label="Username" [(ngModel)]="book.category" 
        [ngModelOptions]="{standalone:true}" >
    </div>
    <button type="button" class="btn btn-primary" (click)="addBook()">Add Book</button>

</div>